1000 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "_AI.bmp"
1001 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "_twomen.bmp"
1002 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "batAI.bmp"
1003 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "batTwo.bmp"
1004 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "black.bmp"
1005 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "white.bmp"
1006 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "board.bmp"
